<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <service>
    <name>EDI_test</name>
    <display-name>EDI test service</display-name>
    <description>EDI test service for srvwrap testing</description>
    <starttype>Automatic</starttype>
    <account>LocalSystem</account>
  </service>
  <runtime>
    <env name="JAVA_HOME" value="C:\Program Files\Java\jdk1.8.0_221"/>
    <executable>%JAVA_HOME%\bin\java.exe</executable>
    <args>-jar hellojava\dist\hellojava.jar</args>
    <stdout.log>logs\stdout.log</stdout.log>
    <error.log>logs\error.log</error.log>
  </runtime>
  <templates>
    <service>
      <name></name>
      <display-name></display-name>
      <description></description>
      <account>User (default) | LocalService | LocalSystem | NetworkService</account>
      <username></username>
      <password></password>
      <starttype>Automatic | Manual | Disabled</starttype>
    </service>
    <runtime>
      <env name="" value=""/>
      <env name="" value=""/>
      <env name="" value=""/>
      <executable></executable>
      <args></args>
      <stdout.log></stdout.log>
      <error.log></error.log>
    </runtime>
  </templates>
</configuration>